services:
    caddy:
        image: caddy:latest
        container_name: caddy
        ports:
            - "80:80"
            - "443:443"
            - "443:443/udp"
        environment:
            ROOT_HOST: ${ROOT_HOST}
            MATMENY_HOST: ${MATMENY_HOST}
            MATMENY_ALT_HOSTS: ${MATMENY_ALT_HOSTS}
            HEXUS_HOST: ${HEXUS_HOST}
            LINK_REDIRECT_HOST: ${LINK_REDIRECT_HOST}
        volumes:
            - ./caddy/conf:/etc/caddy
            - ./caddy/site:/srv
            - caddy_data:/data
            - caddy_config:/config
        networks:
            - legangerweb-net

    frontend:
        build:
            context: ./frontend
            dockerfile: docker/Dockerfile.prod
        container_name: frontend
        expose:
            - "3000"
        networks:
            - legangerweb-net
        restart: unless-stopped

    matmeny-frontend:
        build:
            context: ./matmeny/frontend
            dockerfile: docker/Dockerfile.prod
        container_name: matmeny-frontend
        expose:
            - "3000"
        restart: unless-stopped
        networks:
            - legangerweb-net

    matmeny-backend:
        build:
            context: ./matmeny/backend
            dockerfile: docker/Dockerfile.prod
        container_name: matmeny-backend
        expose:
            - "8000"
        environment:
            DATABASE_URL: postgresql://${MATMENY_DB_USER}:${MATMENY_DB_PASSWORD}@matmeny-db:${MATMENY_DB_PORT}/${MATMENY_DB_NAME}
        depends_on:
            - matmeny-db
        restart: unless-stopped
        networks:
            - legangerweb-net

    matmeny-db:
        image: postgres:17-alpine
        container_name: matmeny-db
        environment:
            POSTGRES_USER: ${MATMENY_DB_USER}
            POSTGRES_PASSWORD: ${MATMENY_DB_PASSWORD}
            POSTGRES_DB: ${MATMENY_DB_NAME}
        volumes:
            - ./matmeny/db/data:/var/lib/postgresql/data
            - ./matmeny/db/initdb:/docker-entrypoint-initdb.d
        restart: unless-stopped
        expose:
            - "5432"
        networks:
            - legangerweb-net

    hexus:
        build:
            context: ./hexus
            dockerfile: docker/Dockerfile.prod
        container_name: hexus
        restart: unless-stopped
        expose:
            - "3000"
        networks:
            - legangerweb-net

    link-redirect-server:
        build:
            context: ./link-redirect/server
            dockerfile: docker/Dockerfile
        container_name: link-redirect-server
        restart: unless-stopped
        expose:
            - "8000"
        volumes:
            - ./link-redirect/server/src:/app/src
            - ./link-redirect/server/tsconfig.json:/app/tsconfig.json
            - ./link-redirect/server/main.py:/app/main.py
        networks:
            - legangerweb-net

    link-redirect-client:
        build:
            context: ./link-redirect/client
            dockerfile: docker/Dockerfile.prod
        container_name: link-redirect-client
        restart: unless-stopped
        expose:
            - "3000"
        volumes:
            - ./link-redirect/client/index.html:/app/index.html
            - ./link-redirect/client/tsconfig.json:/app/tsconfig.json
            - ./link-redirect/client/src:/app/src
        networks:
            - legangerweb-net

volumes:
    caddy_data:
    caddy_config:

networks:
    legangerweb-net:
        name: legangerweb-net
        driver: bridge
