services:
    caddy:
        image: caddy:latest
        container_name: caddy
        ports:
            - "${CADDY_HTTP_PORT}:80"
            - "${CADDY_HTTPS_PORT}:443"
            - "${CADDY_HTTPS_PORT}:443/udp"
        environment:
            ROOT_HOST: ${ROOT_HOST}
            MATMENY_HOST: ${MATMENY_HOST}
            MATMENY_ALT_HOSTS: ${MATMENY_ALT_HOSTS}
            HEXUS_HOST: ${HEXUS_HOST}
        volumes:
            # - ./caddy/conf:/etc/caddy
            # - ./caddy/site:/srv
            - /home/audun/development/legangerweb/caddy/conf:/etc/caddy
            - /home/audun/development/legangerweb/caddy/site:/srv
            - caddy_data:/data
            - caddy_config:/config
        networks:
            - legangerweb-net

    frontend:
        build:
            context: ./frontend
            dockerfile: docker/Dockerfile
        container_name: frontend
        expose:
            - "${FRONTEND_PORT}"
        environment:
            PORT: ${FRONTEND_PORT}
        volumes:
            - ./frontend/src:/app/src
            - ./frontend/public:/app/public
            - ./frontend/index.html:/app/index.html
            - ./frontend/tsconfig.json:/app/tsconfig.json
            - ./frontend/tsconfig.app.json:/app/tsconfig.app.json
            - ./frontend/tsconfig.node.json:/app/tsconfig.node.json
            - ./frontend/vite.config.ts:/app/vite.config.ts
        networks:
            - legangerweb-net
        restart: unless-stopped

    matmeny-frontend:
        build:
            context: ./matmeny/frontend
            dockerfile: docker/Dockerfile
        container_name: matmeny-frontend
        expose:
            - "${MATMENY_FRONTEND_PORT}"
        restart: unless-stopped
        volumes:
            - ./matmeny/frontend/src:/app/src
            - ./matmeny/frontend/public:/app/public
            - ./matmeny/frontend/index.html:/app/index.html
            - ./matmeny/frontend/tsconfig.json:/app/tsconfig.json
            - ./matmeny/frontend/tsconfig.app.json:/app/tsconfig.app.json
            - ./matmeny/frontend/tsconfig.node.json:/app/tsconfig.node.json
            - ./matmeny/frontend/vite.config.ts:/app/vite.config.ts
        networks:
            - legangerweb-net

    matmeny-backend:
        build:
            context: ./matmeny/backend
            dockerfile: docker/Dockerfile
        container_name: matmeny-backend
        expose:
            - "${MATMENY_BACKEND_PORT}"
        environment:
            DATABASE_URL: postgresql://${MATMENY_DB_USER}:${MATMENY_DB_PASSWORD}@matmeny-db:${MATMENY_DB_PORT}/${MATMENY_DB_NAME}
        volumes:
            - "./matmeny/backend/src:/app/src"
            - "./matmeny/backend/tsconfig.json:/app/tsconfig.json"
        depends_on:
            - matmeny-db
        restart: unless-stopped
        networks:
            - legangerweb-net

    matmeny-db:
        image: postgres:17-alpine
        container_name: matmeny-db
        environment:
            POSTGRES_USER: ${MATMENY_DB_USER}
            POSTGRES_PASSWORD: ${MATMENY_DB_PASSWORD}
            POSTGRES_DB: ${MATMENY_DB_NAME}
        volumes:
            - ./matmeny/db/data:/var/lib/postgresql/data
            - ./matmeny/db/initdb:/docker-entrypoint-initdb.d
        restart: unless-stopped
        expose:
            - "${MATMENY_DB_PORT}"
        networks:
            - legangerweb-net

    hexus:
        build:
            context: ./hexus
            dockerfile: docker/Dockerfile
        container_name: hexus
        restart: unless-stopped
        expose:
            - "${HEXUS_PORT}"
        volumes:
            - ./hexus/src:/app/src
            - ./hexus/public:/app/public
            - ./hexus/scripts:/app/scripts
            - ./hexus/index.html:/app/index.html
            - ./hexus/tsconfig.json:/app/tsconfig.json
            - ./hexus/tsconfig.app.json:/app/tsconfig.app.json
            - ./hexus/tsconfig.node.json:/app/tsconfig.node.json
            - ./hexus/vite.config.ts:/app/vite.config.ts
        networks:
            - legangerweb-net

    link-redirect-server:
        build:
            context: ./link-redirect/server
            dockerfile: docker/Dockerfile
        container_name: link-redirect-server
        restart: unless-stopped
        expose:
            - "${LINK_REDIRECT_SERVER_PORT}"
        volumes:
            - ./link-redirect/server/src:/app/src
            - ./link-redirect/server/tsconfig.json:/app/tsconfig.json
            - ./link-redirect/server/main.py:/app/main.py
        networks:
            - legangerweb-net

    link-redirect-client:
        build:
            context: ./link-redirect/client
            dockerfile: docker/Dockerfile
        container_name: link-redirect-client
        restart: unless-stopped
        expose:
            - "${LINK_REDIRECT_CLIENT_PORT}"
        volumes:
            - ./link-redirect/client/index.html:/app/index.html
            - ./link-redirect/client/tsconfig.json:/app/tsconfig.json
            - ./link-redirect/client/src:/app/src
        networks:
            - legangerweb-net

volumes:
    caddy_data:
    caddy_config:

networks:
    legangerweb-net:
        name: legangerweb-net
        driver: bridge
