.song-page {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 100vh;
}
.song-metadata {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.song-metadata > h5 {
    margin: 0;
}
audio {
    margin: 1em 0 0 0;
}
.song-title {
    text-align: center;
    justify-content: center;
}

.lyrics-wrapper {
    margin: 1em 0;
}

.comments-wrapper {
    width: 50%;
    text-align: center;
}

.comments-wrapper > p {
    font-size: 0.9rem;
}

.centered-on-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 1.2rem;
    white-space: pre-wrap;
}

.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}

.instruction {
    font-style: italic;
}

.chorus-header {
    font-style: italic;
    text-decoration: underline;
}
.melody-header {
    font-style: italic;
}

.address {
    font-style: italic;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .song-page {
        margin-top: 3rem;
        padding: 0 1rem;
    }
}
